[Unit]
Description=__APP__ service
After=network.target

[Service]
Type=simple
User=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=/bin/sh -c 'cargo run' >> /var/log/__APP__/__APP__.log 2>&1
TimeoutSec=30
Restart=always

[Install]
WantedBy=multi-user.target
